body { 
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #b8dbff;
}

button {
  font-family: sans-serif;
  font-size: 10px;
  border-style: solid;
  border-width: 1px; 
  border-color: #666666;
  padding: 2px;
}

button:hover { border-style: outset; }
button:active { border-style: inset; }

input,label,td {
  font-family: sans-serif;
  font-size: 12px;
}

fieldset { 
  margin: 4px;
}

/* roster */
#roster {
  width: 100%;
  cursor: default;
  background-color: white;
}

.hidden {
  display: none;
}

.rosterUser { 
  padding: 2px; 
}

.rosterUserSelected {
  color: highlighttext;
  background-color: highlight;
  padding: 2px;
  width: 100%;
}

.rosterGroupHeader {
/*	background-color: #d6d6d6; */
  font-weight: bold;
}

.rosterGroupHeaderHidden {
/* 	background-color: #d6d6d6; */
  font-weight: bold;
  display: none;
}

/* context menu */
.skin0{
  position:absolute;
  /*width:100px;*/
  border:2px outset threedhighlight;
  background-color:menu;
  font-family: sans-serif;
  line-height:16px;
  cursor:default;
  font-size:12px;
  z-index:100;
  visibility:hidden;
}

.menuitems{
  padding-left:4px;
  padding-right:4px;
}


/* message windows */
#buttonbox { 
  position: absolute;
  bottom: 8px;
  right: 8px; 
}

.msgBox {
  width: 100%;
  height: 100px;
}

.rosterInnerElement { padding: 4px; padding-left:10px; padding-right:12px; }

button.menubar { 
  padding: 0px;
  border: 1px solid black;
  font-size: 10px;
  border-color: #6c8bb1;
  background-color: #6c8bb1;
}

button.menubar:hover { border-color: black; border-style: solid; }
button.menubar:active { border-color: black; border-style: inset; }

td.menubar { 
  padding-bottom: 1px;
  border-bottom: 2px outset;
  border-color: #6c8bb1;
  background-color: #6c8bb1;
}

#iChat { background-color: white; }

#myNickname {
  font-weight: bold;
  cursor: pointer;
}

.nickName {
  padding-left: 2px;
}

.statusMsg { 
  font-size: smaller;
  padding-left: 2px;
}

#statusMsg { 
  font-size: smaller;
  padding-left: 2px;
  width: 100%;
 }

.myStatusMsg {  
  cursor: pointer;
  border: 0;
  background-color: #b8dbff;
}

.myStatusMsgSelected { 
  cursor: text;
  border: 1px;
  background-color: white;
}

.vcardBox { 
  border: 0;
  background-color: #b8dbff;
  width: 100%;
}

.vcardBoxEditable { 
  border: 1px;
  background-color: white;
  width: 100%;
}

#statusLed { 
  cursor: pointer;
}

.link { 
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}